<div div class="container">
  <div>
    <h2>Modify Patient:</h2>
  </div>
  <form>
    <div class="col-sm-4 col-md-4 col-lg-2">
      <label>ID Donor :</label>
      <input
        type="text"
        [(ngModel)]="newPatient.idpatient"
        name="iddonor"
        class="form-control"
        value="{{ newPatient.idpatient }}"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2">
      <label>Name :</label>
      <input
        type="text"
        [(ngModel)]="newPatient.name"
        name="name"
        class="form-control"
        value="{{ newPatient.name }}"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2">
      <label>Age :</label>
      <input
        type="text"
        [(ngModel)]="newPatient.age"
        name="age"
        class="form-control"
        value="{{ newPatient.age }}"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2">
      <label>Gender :</label>
      <select [(ngModel)]="newPatient.gender" name="gender" class="form-control">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Blood Group :</label>
      <select
        class="form-control form-control"
        id="idbloodgroup"
        name="idbloodgroup"
        [(ngModel)]="idblood"

      >
        <option>{{ newPatient.bloodGroup.bloodgroup}}</option>
        <option  *ngFor="let b of bloodGroup" [value]="b.idbloodgroup">
          {{ b.bloodgroup }}
        </option>
      </select>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-2">
      <label>Phone :</label>
      <input
        type="text"
        [(ngModel)]="newPatient.phone"
        name="phone"
        class="form-control"
        value="{{newPatient.phone }}"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2">
      <label>Address :</label>
      <input
        type="text"
        [(ngModel)]="newPatient.address"
        name="address"
        class="form-control"
        value="{{ newPatient.address }}"
      />
    </div>
    <div class="mt-2">
      <button type="submit" (click)="update()"  class="btn btn-danger" [routerLink]="['/view-patient/']">
        Modify
      </button>
    </div>
  </form>
</div>
